# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#qt moc/ui files
ui_*.h
ui_*.cpp
moc_*.h
moc_*.cpp
qrc_*.cpp
*.pro.user
.qmake.stash
build/fireflygame
build/CMakeCache.txt
build/CMakeFiles/
build/FireFlyGame
build/FireFly_00.sav
build/cmake_install.cmake
.idea/
./editors/
./editors/enemies


